<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>KINO XP</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="/">
        <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top logo" alt="">
        KINO XP
    </a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/movies">Movies</a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Contact</a>
        </div>
    </div>
</nav>

<div class="container createMovieDiv">
    <div class="centerDiv">
        <select id="movies">
            <option disabled selected>Select movie</option>
        </select>
        <button type="button" id="editBtn" class="btn btn-outline-success my-2 my-sm-0 loginBtn editBtn">Edit movie</button>
        <button type="button" id="myBtn" class="btn btn-outline-success my-2 my-sm-0 loginBtn createBtn">Create movie</button>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
            <input type="text" placeholder="Movietitle" id="movietitle">
            <input type="text" placeholder="Genre" id="genre">
            <input type="text" placeholder="Releaseyear" id="releaseyear">
            <select id="hall" required>
                <option disabled="" selected="">Select hall</option>
                <option>Large hall</option>
                <option>Small hall</option>
            </select>

            <select id="timeslot" required>
                <option disabled="" selected="">Select timeslot</option>
                <option>14-16</option>
                <option>16-18</option>
                <option>18-20</option>
                <option>20-22</option>
                <option>22-24</option>
            </select>

            <input type="text" placeholder="image (insert direct poster link)" id="image">

            <button type="submit" onclick="createMovie()" class="btn btn-outline-success my-2 my-sm-0 loginBtn">Create</button>


    </div>
</div>

<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        <input type="text" placeholder="Movietitle" id="movietitleEdit">
        <input type="text" placeholder="Genre" id="genreEdit">
        <input type="text" placeholder="Hall" id="hallEdit">
        <input type="text" placeholder="Releaseyear" id="releaseyearEdit">
        <input type="text" placeholder="image (insert direct poster link)" id="imageEdit">

        <button type="submit" onclick="editMovie()" class="btn btn-outline-success my-2 my-sm-0 loginBtn">Submit edit</button>
        <button type="submit" onclick="" class="btn btn-outline-success my-2 my-sm-0 loginBtn">Delete Movie</button>
    </div>
</div>


</body>
<script src="js/admin.js"></script>
</html>