<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>KINO XP</title>
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="/">
    <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top logo" alt="" >
    KINO XP
  </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/movies">Movies</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
    <button class="btn btn-outline-success my-2 my-sm-0 loginBtn" id="loginBtn" >Login</button>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form class="loginForm">
                    <input type="text" placeholder="Username" class="loginUsername">
                    <input type="password" placeholder="Password" class="loginPassword">
                    <input type="submit" class="btn btn-outline-success my-2 my-sm-0 loginBtn loginModalBtn" value="Login">
                    <span class="noAccText">Do you not have an account? <a class="linkToRegister" href="/register">Click here</a></span>
                </form>
            </div>
        </div>
</nav>

<div class="container movie-details">
    <div class="row">
        <div class="movies">
        <div class="col-sm">
            <h1>KING KONG VS GODZILLA</h1>
            <img src="images/KKVSGOD.jpeg" width="300" height="150" class="kkvsgod">
            <p>King Kong vs Godzilla is a wild movie <br> it's about a monkey and a big monster fighting</p>
            <form action="/movies">
            <button type="submit" value="Book"> "Book tid"</button>
            </form>
        </div>
        </div>
        </div>
    </div>

<div class="container movie-details">
        <div class="row">
            <div class="IntroText">
            <div class="col-sm">
        <p1>Avatar is a movie about cool blue men<br> in another universe</p1>
            </div>
        </div>
    </div>
</div>
</div>

</body>
<script src="js/login.js"></script>
</html>