<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>PROFILE</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="test">
    <a class="navbar-brand logo" href="/">
        <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top logo" alt="" >
        KINO XP
    </a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/movies">Movies</a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Contact</a>
        </div>
    </div>

</nav>

<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Hall</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody id="tablebody">
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <input type="date" id="dateEdit">
        <button type="submit" id="editSubmitBtn" class="btn btn-outline-success my-2 my-sm-0 loginBtn">Submit edit</button>

    </div>
</div>



</body>
<script src="js/profile.js"></script>
</html>